[submodule "python-scripts/samscripts"]
	path = python-scripts/samscripts
	url = https://github.com/isovic/samscripts

[submodule "vendor/spoa"]
	path = vendor/spoa
	url = https://github.com/rvaser/spoa
[submodule "vendor/bioparser"]
	path = vendor/bioparser
	url = https://github.com/rvaser/bioparser
